/*body {*/
    /*background-color: black;*/
    /*color: white;*/
/*}*/


.tabcontent {
    display: none;
}

#projects {
    display: block;
}

#hero-img {
    background-image: url("/assets/pic/iram30m.jpg");
    background-size: cover;
    background-position: center;
}
