<!DOCTYPE html>
<html>
  <head html-snippet='/assets/header.html'>
</head>

<script>
//function to include html snippets, see also in custom.js
function includeHTML(){for(var t,e,n,s=document.getElementsByTagName("*"),i=0;i<s.length;i++)if(e=(t=s[i]).getAttribute("html-snippet"))return(n=new XMLHttpRequest).onreadystatechange=function(){4==this.readyState&&(200==this.status&&(t.innerHTML=this.responseText),404==this.status&&(t.innerHTML="Page not found."),t.removeAttribute("html-snippet"),includeHTML())},n.open("GET",e,!0),void n.send()}
</script>

<body>
  <section class="hero is-info is-medium">
    <div class="hero-head" html-snippet='/assets/navbar.html'></div>
  </section>

  <section>
    <p>The body</p>
  </section>


<!--footer-->
<footer class="footer" html-snippet='/assets/footer.html'>
</footer>
<!--js-->
<script src="assets/js/custom.js"></script>
<script>includeHTML();</script>
</body>
</html>
